<div class="padding_10 " id="web_item_data">
    <div class="row padding_10">
        <div class="row col-md-12 col-lg-12">
            <h4 class="col-md-offset-4 col-md-5">Details</h4>

            <!-- Placeholder div -->
            <div class="sans_font" id="placeholder_item_data">
                <div class="item_main_card item_card_border col-md-offset-4 col-md-6"><div class="  img_container"><img class="item_img placeholder_img" src="" alt=""></div><div class="row item_detail_chunk font_size_14 sans_font"><div class=" col-md-7 placeholder_divs"></div><div class="m_t_5 col-md-12 placeholder_divs"></div></div><hr class="custom_line"><div class="chunk"><div class="deal_btn_pos m_b_10 col-md-4 placeholder_divs"></div></div></div>
            </div>

            <div id="detail_item_info">

            </div>
            <center>
                <input type="button" value="Edit" id="edit_me" class="btn btn-info header_nav">
                <input type="button" value="Delete" id="delete_me" class="btn btn-danger header_nav">
            </center>
      </div>

    </div>
</div>