<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Electronic Items</title>

        <meta property="og:url"           content="/" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="ISP HackerEarth" />
        <meta property="og:description"   content="Searching ISP made easy" />
        <meta property="og:image"         content="/images/jet_favicon.ico" />

        <title>Electronic Items - Varieties</title>

        <meta name="description" content="Maintain Electronic Items data on your own">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/">
        <link rel="stylesheet" href="/css/custom.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- <link rel="shortcut icon" href="https://static-fastly.hackerearth.com/static/hackerearth/images/logo/HE_identity.png" type="image/x-icon"> -->
    </head>

</html>